.wp-block-amply-blocks-section {

	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 20px;

	> .innerblocks-wrap {

		> .editor-inner-blocks {

			> .editor-block-list__layout {
				display: flex;

				> [data-type="amply-blocks/section-column"] {
					flex: 1;
				}
			}

		}

	}

}