.wp-block-amply-blocks-section {

	position: relative;
	padding: 0 20px;

	.innerblocks-wrap {
		display: flex;
		word-break: keep-all;

		.wp-block-amply-blocks-section-column {
			position: relative;
			flex: 1;
		}
	}

}